---
interface Props {
	lang?: 'en' | 'de';
}

const { lang = 'en' } = Astro.props;
const text =
	lang === 'de'
		? `© ${new Date().getFullYear()} Vince. Alle Rechte vorbehalten.`
		: `© ${new Date().getFullYear()} Vince. All rights reserved.`;
---

<footer class="site-footer" transition:persist>
	<div class="content-wrap footer-inner">
		<p>{text}</p>
	</div>
</footer>
